* text=auto
*.php linguist-detectable=true
*.js linguist-detectable=false
*.blade.php linguist-language=PHP
*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.css linguist-detectable=false
*.md linguist-detectable=false
*.scss linguist-detectable=false

/.github export-ignore
CHANGELOG.md export-ignore
